.h-video {
    height: 400px;
}

.logo-footer {
    width: 300px;
}

.text-border-between {
    border-bottom: 3px solid #B83F00;
    border-top: 3px solid #B83F00;
    padding: 16px 0px;
}

.important {
    border-left: 5px solid #002049;
    padding: 4px 15px;
}

.font-size-24 {
    font-size: 24px;
}

.fix-z-index {
    position: relative;
    z-index: 2000;
}

.dropdown-menu {
    z-index: 3000;
}
.nav-top-logo {
    height: 160px;
}